
body {
  font-style : monospace;
  font-family : monospace;
  font-size : 10pt;
}

textarea {
  width : 49%; 
  height : 73%; 
  overflow : auto;
  /*font-color : #808080;*/
  color: /*cadetblue*/ #808080;
  outline: none;
  display: inline;
}

/*
.fullview {
  width : 100%; 
}*/
/*
form {
  display : inline;
}*/